mat-form-field{
  background-color: whitesmoke;
  color: black;
  margin-bottom: 1em;
}

mat-card {
  background-color: white;
  color: black;
  margin-top: 1em;
}


mat-form-field,
textarea {
  width:100%;

}
